<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqsystem.serve.mapper.DramaCategoryMapper">

    <select id="selectById" resultType="com.qqsystem.serve.entity.DramaCategory">
        SELECT *
        FROM drama_category
        WHERE id = #{id}
    </select>
    
    <select id="selectAll" resultType="com.qqsystem.serve.entity.DramaCategory">
        SELECT *
        FROM drama_category
        WHERE status = 1
        ORDER BY sort_order ASC
    </select>

</mapper>