<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqsystem.serve.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.qqsystem.serve.entity.User">
        SELECT *
        FROM user
        WHERE username = #{username}
            LIMIT 1
    </select>
    <select id="selectById" resultType="com.qqsystem.serve.entity.User">
        SELECT *
        FROM user
        WHERE id = #{userId}
    </select>
    <insert id="insert" parameterType="com.qqsystem.serve.entity.User">
        INSERT INTO user (
            username,
            password,
            nickname,
            sex,
            birthday,
            address,
            info,
            status
        ) VALUES (
                     #{username},
                     #{password},
                     #{nickname},
                     #{sex},
                     #{birthday},
                     #{address},
                     #{info},
                     #{status}
                 )
    </insert>
    
    <update id="updateUserProfile">
        UPDATE user
        SET
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="info != null">info = #{info},</if>
            <if test="address != null">address = #{address},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            update_time = NOW()
        WHERE id = #{userId}
    </update>
    
    <update id="updateUserAvatar">
        UPDATE user
        SET
            avatar = #{avatar},
            update_time = NOW()
        WHERE id = #{userId}
    </update>
    
    <update id="updatePassword">
        UPDATE user
        SET
            password = #{password},
            update_time = NOW()
        WHERE id = #{userId}
    </update>

    <!-- 查询用户所在省份统计 -->
    <select id="selectUserProvinceStats" resultType="java.util.Map">
        SELECT 
            SUBSTRING_INDEX(address, '-', 1) as province, 
            COUNT(*) as count 
        FROM user 
        WHERE address IS NOT NULL AND address != ''
        GROUP BY SUBSTRING_INDEX(address, '-', 1) 
        ORDER BY count DESC
    </select>

</mapper>