<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qqsystem.serve.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.qqsystem.serve.entity.User">
        SELECT *
        FROM user
        WHERE username = #{username}
            LIMIT 1
    </select>
    <select id="selectById" resultType="com.qqsystem.serve.entity.User">
        SELECT *
        FROM user
        WHERE id = #{userId}
    </select>
    <insert id="insert" parameterType="com.qqsystem.serve.entity.User">
        INSERT INTO user (
            username,
            password,
            nickname,
            sex,
            birthday,
            address,
            info,
            status
        ) VALUES (
                     #{username},
                     #{password},
                     #{nickname},
                     #{sex},
                     #{birthday},
                     #{address},
                     #{info},
                     #{status}
                 )
    </insert>
    
    <update id="updateUserProfile">
        UPDATE user
        SET
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="info != null">info = #{info},</if>
            <if test="address != null">address = #{address},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            update_time = NOW()
        WHERE id = #{userId}
    </update>
    
    <update id="updateUserAvatar">
        UPDATE user
        SET
            avatar = #{avatar},
            update_time = NOW()
        WHERE id = #{userId}
    </update>
    
    <update id="updatePassword">
        UPDATE user
        SET
            password = #{password},
            update_time = NOW()
        WHERE id = #{userId}
    </update>

    <!-- 查询用户所在省份统计 -->
    <select id="selectUserProvinceStats" resultType="java.util.Map">
        SELECT 
            SUBSTRING_INDEX(address, '-', 1) as province, 
            COUNT(*) as count 
        FROM user 
        WHERE address IS NOT NULL AND address != ''
        GROUP BY SUBSTRING_INDEX(address, '-', 1) 
        ORDER BY count DESC
    </select>

    <!-- 查询用户年龄段分布 -->
    <select id="selectUserAgeDistribution" resultType="java.util.Map">
        SELECT 
            CASE 
                WHEN age &lt; 18 THEN '18以下'
                WHEN age BETWEEN 18 AND 25 THEN '18-25'
                WHEN age BETWEEN 26 AND 35 THEN '25-35'
                WHEN age BETWEEN 36 AND 50 THEN '35-50'
                WHEN age &gt; 50 THEN '50+'
                ELSE '未知'
            END as name,
            COUNT(*) as clicks
        FROM (
            SELECT 
                CASE 
                    WHEN birthday IS NOT NULL AND STR_TO_DATE(birthday, '%Y-%m-%d') IS NOT NULL THEN TIMESTAMPDIFF(YEAR, STR_TO_DATE(birthday, '%Y-%m-%d'), CURDATE())
                    ELSE NULL
                END as age
            FROM user
            WHERE birthday IS NOT NULL
        ) as age_data
        WHERE age IS NOT NULL
        GROUP BY name
        ORDER BY 
            CASE 
                WHEN name = '18以下' THEN 1
                WHEN name = '18-25' THEN 2
                WHEN name = '25-35' THEN 3
                WHEN name = '35-50' THEN 4
                WHEN name = '50+' THEN 5
                ELSE 6
            END
    </select>

</mapper>